<h1> Employee show page </h1>
<h3> Employee Name:<%= @employee.name %> </h3>
<p> Department:<%= @employee.department.name %> </p>
<!-- this is where I get lost.
I cannot seem to join tables correctly
need to continue reviewing/catching up on lesson info -->
