<h1> Departments </h1>

<% @departments.each do |department| %>

<h3> <%= department.name %>: <%= department.floor %> </h3>
<p>Employees:</p>
<% department.employees.each do |employee| %>
<li> <%= employee.name %> </li>
<% end %>
<p> <%=  %> </p>
<% end %>
